node_modules/
package-lock.json
.git/
.idea/
.vscode/
.npmrc
dist/
build/
tmp/
.DS_Store
Thumbs.db
docs/
images/
example/
examples/
.env
.env.*
.babelrc
.eslintrc
tsconfig.json
test/
tests/
__tests__/
*.test.js
*.spec.js
